@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.swiper-pagination-bullet {
  @apply border-white bg-white w-4 h-4 rounded-full;
}
.swiper-pagination-bullet-active {
  @apply bg-[#fba43d];
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 15px;
  height: 15px;
}
@media (max-width: 991px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fba43d;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}
